# TooLoo documentation file.
# Details: https://github.com/masukomi/TooLoo

# The name of the command or function you're documenting
# This is the thing you type to invoke it. Note: git scripts
# are typically named git-foo but you invoke them as 'git foo'.
# It's your call, but for these I'd recommend using git-foo in
# the name field. This will enable Clu to tell you where it's
# located on your system.
name="ipaddy"
# a short (one line) description of what it does
short_description="returns a list of your possible IP addresses from ifconfig"

# an optional detailed description of what it does.
# definitely include this if you're going to generate a web site.
# Note: You can include markdown in this and have it rendered
# when the web site is generated
#
description="""
Run `ipaddy` when you need to know what your current IP Address is on
the local network.

It will output a list of internet IP address that your computer thinks
belong to it.


Example:

```
â¯ ipaddy
127.0.0.1
192.168.1.248
192.168.1.210
192.0.2.42 --> 192.0.2.42
```

NOTE: this does not mean people outside the network can find you at
that IP address. In fact, it's almost guaranteed that they can't.
"""

# If the tool has some sort of usage / help documentation you can
# invoke, enter it in the usage_command. Otherwise, comment that out,
# and document it in the fallback_usage. In TOML you can create a
# multiline string by surrounding it with triple double quotes.
# """ like this """
# usage_command=""

fallback_usage="""
USAGE: ipaddy
       It takes no arguments."""

# is this an executable, function, or ???
type="executable"
# what language is it written in?
language="bash"
# where you can find this specific file in source control
source_url="https://github.com/masukomi/masuconfigs/blob/master/bin/ipaddy"
# where you can find the repo that contains this file
source_repo_url="https://github.com/masukomi/masuconfigs"

# additional keywords that might help you find this in a search
# or when browsing by tag. There are more features coming that
# will add functionality based on tags. ;)
tags=[ "networking"  ]
