.vim-tmp
.floorc
.vim/.netrwhist
.vim/view
.DS_Store
external_gitconfig
.vim/plugged/*
.config/nvim/plugged/*
.vim/bundle/*
.config/fish/functions/sync_layer_cake.fish
.config/fish/functions/scp_to_prod.fish
.config/fish/functions/list_clients.fish
.config/fish/functions/clear_db.fish
.config/fish/functions/attribute_issues_detector.fish
.config/fish/functions/prod_*
.config/fish/functions/uat_*
.config/fish/functions/qa_*
.config/fish/secrets.fish
.config/fish/config_work.fish
.config/neomutt/headers
.config/neomutt/bodies
.config/neomutt/aliases
.config/yadm/repo.git
.config/private_comments/*
.git/*
.vim/plugged-coding/*
tags
.config/yadm/repo.git/*
.ssh/*
